<!DOCTYPE html>
<html>
<body>

<form>
  <div class="imgcontainer">

    <a routerLink="/"><img src="/assets/hydeklog2.png" alt="logo" style=""></a>
  </div>


  <div class="container">
    <div class="batteries">
      <div class="one">
        <b>Battery #1: 70%</b>
      </div>
      <div class="one">
        <b>Battery #2: 65%</b>
      </div>
    </div>


    <div>
      <div><b>Speed: 30 km/h</b></div>
      <div><b>Travelled distance: 80 m</b></div>
      <div><b>Angle: 45%</b></div>

    </div>


    <div class="batteries">
      <div class="one">
        <b>S#1: 14cm</b>
      </div>
      <div class="one">
        <b>S#2: 40cm</b>
      </div>
      <div class="one">
        <b>S#3: 22cm</b>
      </div>
    </div>


    <div>
      <div><b>Camera: STOP in 20 cm</b></div>
      <div><b>Acceleration: 3 mps</b></div>
    </div>

    <div class="batteries">

      <div><button id="up"><b>⬆</b></button></div>

      <div><button id="dwn"><b>⬇</b></button></div>

      <div><button id="lef"><b>⬅</b></button></div>

      <div><button id="rig"><b>➡</b></button></div>

    </div>

  </div>

</form>

</body>
</html>
